
.button {
font-family: 'Courier New', Courier, monospace;
font-weight: 700;
border: 1;
cursor: pointer;
}

.button--box {

}
.button--round{
  border-radius: 3em;
}

.button--small {
  font-size: 12px;
  padding: 10px 15px;
}

.button--medium {
  font-size: 14px;
  padding: 12px 18px;
}

.button--large {
  font-size: 16px;
  padding: 14px 21px;
}


