
.switch {

}
.container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch--small{
  width: 14px;
  height: 14px;
  position: relative;
  
}
.container--small {
  width: 28px;
  height: 10px;
}



.switch--medium {
  width: 22px;
  height: 22px;
}
.container--medium {
  width: 38px;
  height: 15px;
}

.switch--large {
  width: 28px;
  height: 28px;
}

.container--large {
  width: 50px;
  height: 20px;
} 

.switch--box {

}
.container--box {

}

.switch--round {
  border-radius: 9999px;
}
.container--round {
  border-radius: 9999px;
}